---
layout: default
---

<article class="contact">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <form action="https://getsimpleform.com/messages?form_api_token=2778713d4035757b1ac110849965cd8e" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='<the complete return url e.g. https://ecostardios.com.br/contato.html>' />
    <!-- all your input fields here.... -->

    <input type="email" name="_replyto" placeholder="Informe seu e-mail" required>
    <p><textarea name="message" placeholder="Digite uma mensagem..." required></textarea></p>
    <input type='submit' value='Enviar' />




<!---
    <p><b>Name:</b> <input TYPE="TEXT" SIZE="20" NAME="yourname">
    </p>
    <p><b>E_mail:</b> <input TYPE="TEXT" SIZE="30" NAME="address">
    </p>
    <p><b>Mensagem:</b> <input TYPE="TEXT" SIZE="600" NAME="phone"></p>



    <div id="contact">
        <h2>Get in Touch</h2>
        <div id="contact-form">
                <form action="https://formspree.io/mpzyqdng" method="POST">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Type your message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

  </form>
--->


</article>
